<!DOCTYPE html>
<html lang="en" class="splash">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <title>旅行韓文</title>
  <meta name="description" content="搜集了旅行時常用的韓文，包括食、衣、住、行，以及急難救助，想讓您的韓國旅行更加多采多姿嗎？馬上使用！">
  <meta name="keywords" content="旅行,韓文,travel,korean,language,learning">
  <meta name="author" content="Boggy Jang">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/style/common.css">
</head>

<body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85222676-1', 'auto');
    ga('send', 'pageview');

  </script>

  <div class="wrapper">

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <ul class="nav navbar-nav">
        <li><a href="#" data-cate="0"><i class="fa fa-hand-paper-o"></i><span> 打招呼</span></a></li>
        <li><a href="#" data-cate="1"><i class="fa fa-coffee"></i><span> 吃飯</span></a></li>
        <li><a href="#" data-cate="2"><i class="fa fa-shopping-bag"></i><span> 購物</span></a></li>
        <li><a href="#" data-cate="3"><i class="fa fa-building"></i><span> 飯店</span></a></li>
        <li><a href="#" data-cate="4"><i class="fa fa-cab"></i><span> 交通</span></a></li>
        <li><a href="#" data-cate="5"><i class="fa fa-ban"></i><span> 髒話</span></a></li>
      </ul>
    </nav>

    <div id="vocsList" class="vocsList">
      
      <h2>{{ cateName }}</h2>
      <table class="table table-hover" v-if="vocs">
        <colgroup>
          <col class="col-xs-6">
          <col class="col-xs-6">
        </colgroup>
        <thead class="hide">
          <tr>
            <th>韓國語</th>
            <th>華語</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="voc in vocs">
            <td>{{ voc.ch }}</td>
            <td>
              {{ voc.kr }}
              <small>{{ voc.pinyin }}</small>
              <i class="fa fa-circle-o-notch loading-icon"></i>
              <i class="fa fa-volume-up playing-icon"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="assets/libs/vue.js/vue.js"></script>
  <script src="assets/js/common.js"></script>
</body>

</html>
