@keyframes loading-animate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

body {
  margin: 44px 0 45px 0;
  font-size: 16px;
  background: #efeff4;
}

h2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 45px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  background: rgba(250,250,250,.75);
  border-bottom: 1px solid #ddd;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.navbar {
  min-height: 0;
  background: rgba(250,250,250,.75);
  border-top: 1px solid #ddd;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

  .navbar-nav {
    display: flex;
    margin: 0;
    float: none;
    text-align: center;
  }

    .navbar-nav > li {
      flex: 1;
    }

    .navbar-nav > li > a {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
      background-color: #0fc73a;
      color: #fff;
    }

.table {
  background: #fff;
}

  .table > thead > tr > th,
  .table > tbody > tr > td {
    padding: 15px 8px;
    cursor: pointer;
  }

  .table > tbody > tr > td {
    position: relative;
    border-top: 1px solid #eee;
  }

  .table td small {
    display: block;
    color:#aaa;
    font-size: 12px;
    line-height: 1;
    margin-top: -4px;
    margin-bottom: -10px;
  }

  .table td .loading-icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 16px;
    color: #aaa;
    font-size: 21px;
    animation-name: loading-animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .table td .playing-icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 16px;
    color: #0fc73a;
    font-size: 21px;
  }


@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {
  tr th:nth-child(3),
  tr td:nth-child(3) {
    display: none;
  }


  .navbar-nav > li span {
    display: none;
  }

}
